header.l-header
  .l-header__logo
    h1.p-logo
      a.p-logo-link(href="#"): img.p-logo-img(src="", alt="")

  nav.l-header__gnav
    ul.p-gnav
      li.p-gnav__item
        a.p-gnav__link(href="../index.html") HOME
      li.p-gnav__item
        a.p-gnav__link(href="/about/") ABOUT
